:root {
  --green-gradient: linear-gradient(green,rgb(13, 221, 93));
  --green-color: rgb(13, 221, 93);
  --light-dark: rgb(194, 194, 194);
  --dark-color: black;
  --light-color: rgba(255, 255, 255, 0.947);
  --light-background: rgb(54, 53, 53);
}